
/* inhouse HTML elements stylesheet */
h1 {
    color: black;
    text-align: center;
}

#header-image {
    text-align: center;
}

nav {
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

ol {
    display: table;
    margin: 0 auto;
    text-align: left;
}


/* container stylesheet */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color:aqua;
    font-size: 1.2rem;
}

.container div {
    background-color:aliceblue;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    border: 2px solid black;
}


/* header navigation stylesheet */
.headnav {
    height: 70px;
    width: 100%;
    font-size: 1.2rem;
    background-color: lightgray;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
}

.headnav .navbar {
    justify-content: space-between;
}

.headnav .navbar ul li {
    margin: 0 10px;
    padding: 10px;
}

/* sidebar stylesheet */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    width: 10%;
    border-right: 1px solid #D7DBDD;
    background-color: lightgray;
    padding: 10px;
}

.sidebar_item {
    cursor: pointer;
    padding: 5px 10px;
    color: #15A2D7;
    font-size: 12px;
}

.sidebar_item:hover {
    background-color: #EEF3F5;
    border-radius: 4px;
}

/* general stylesheet */
body {
    font-family: sans-serif;
    background-color: white;
    text-align: center;
}


* {
    box-sizing: border-box;
}